.budget-wrapper {
    display: flex;
    justify-content: center;
    height: 700px;
    border: 1px solid;
    flex-direction: column;
    padding: 1% 16%;
    align-items: center;
    background: #1f1fb061;
}
.budget-wrapper .para {
    text-align: justify;
    /* border: 1px solid; */
    height: auto;
    padding: 0 5%;
    box-shadow: 0px 1px 4px 2px skyblue;
}